
@{
    ViewBag.Title = "LoggerFile";
}

<h2>LoggerFile</h2>
<div class="container">
    <label>name</label>
    <input type="text" placeholder="enter name" />
    <submit onclick="">save</submit>
</div>

